<mat-toolbar class="toolbar-color">
    <img src="\assets\images\png\logo.png" class="logo-size" alt="">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <a href="https:" target="_blank" class="link-color"></a>
    </button>
    <span class="spacer"></span>
    <ng-container *ngIf="!isAuthorized">
        <a mat-button routerLink="/account/login" routerLinkActive="active">Log in</a>
        <a mat-button routerLink="/account/register" routerLinkActive="active">Sign up</a>
    </ng-container>
    <ng-container *ngIf="isAuthorized">
        <a mat-button routerLinkActive="active" routerLink="/data/import">Import Data</a>
        <a mat-button routerLinkActive="active" routerLink="/manage/owners">Owners</a>
        <a mat-button routerLinkActive="active" (click)="logout()">Log Out</a>
    </ng-container>
</mat-toolbar>