<div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin">
        <img src="\assets\images\png\logo.png" class="logo-size" alt="MindBuilder LLC">
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="email" placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="'password'" placeholder="Placeholder">
        </mat-form-field>
        <br>
        <div>
            <button mat-raised-button [disabled]="loginForm.invalid" type="submit">Save</button>
        </div>
    </form>
</div>