<div class="container">
    <div class="col-md-8 form-group" >             
        <mat-form-field>
            <mat-label>Select a Country</mat-label>
            <mat-select [(value)]="selectedCountry" [(ngModel)]="selectedCountry">
              <mat-option *ngFor="let c of countries" [value]="c.name" >{{ c.name + ' ' + c.code }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button (click)="loadData()">Load Data</button>
    </div> 
    <!-- <ejs-sidebar #dockBar id="dockSidebar" [enableDock]='enableDock' [width]='width' [dockSize]='dockSize'> -->
        <div class="dock">
            <ejs-pivotview id='PivotView' height='350' [dataSourceSettings]=dataSourceSettings></ejs-pivotview>
        </div>
    <!-- </ejs-sidebar> -->
</div>